# Product Meme Stats

Meme data was scraped from the Producti.fi channel in Slack over the past 6 Thursdays. For each meme we collected:
- **Engagement** - The total number of emoji reactions
- **Jody Score** - Combines scores of specific emojis as voted on by a sample of you the Product people (e.g. 1 Rofl is worth 9.43, 1 Retweet is worth 5.5...)

The above metrics range from [0,21] and from [0,136.43]. Combining them the way they are is foolish. **Overall Score** normalizes both fields so that the mean of each is 0 and std dev is 1 thus enabling us to combine them.

# Meme Leaderboard

In [125]:
df.drop(['Score_Scale','Eng_Score'],axis=1).groupby('Teammate').mean().sort_values('Overall Score',ascending=False)

                   Jody Score  Engagement  Overall Score  count
Teammate
Karen Williams      91.710000   21.000000       6.214775    1.0
Jeremy Bates        56.140000   16.000000       3.540821    1.0
Wynne Philpott      62.142857   13.000000       2.969133    1.0
Chastity            77.428571   10.000000       2.748013    1.0
Michael Haydel      64.327400    9.600000       2.146793    5.0
Hawk Swearingen     61.430000   10.000000       2.143824    1.0
Josh Lehman         40.750000   12.500000       2.028162    2.0
Ashleigh Dietz      54.999524    8.333333       1.457427    3.0
Michael Coulter     41.430000   10.000000       1.388520    1.0
Simone Henderson    54.941829    7.400000       1.206861    5.0
Chastity Burrell    42.380000    8.000000       0.892138    3.0
Colleen Schwab      47.499911    6.500000       0.686299   16.0
Ausmone             43.571429    7.000000       0.671004    1.0
Grace Ann Lile      44.927500    6.500000       0.589152    4.0
Cheyenne McCoy      37.393179    7.000000       0.437681    4.0
Austin Mays         36.425000    6.500000       0.268053    2.0
Erica Sutherland    36.357000    6.500000       0.265485    4.0
GA                  38.285714    6.000000       0.205259    1.0
Will Gaffney        36.874249    6.028571       0.159558   35.0
Hawk                27.857143    7.000000       0.077551    1.0
Alex Allen          37.140000    5.000000      -0.104139    1.0
Stephen Henderson   28.600526    6.000000      -0.160505   19.0
Darah Pereira       30.750000    5.500000      -0.212394    2.0
Bailey Rhodes       28.224836    5.851852      -0.214119   27.0
Jody Oliverson      23.170000    6.200000      -0.312364   10.0
Robert Graham       34.499500    4.500000      -0.336922    2.0
Kimberly Voltaire   29.304970    4.884615      -0.430737   52.0
Stimone             31.500000    4.500000      -0.450199    2.0
Eric Hyland         26.619077    4.416667      -0.656706   24.0
Jim Walther         20.942500    4.600000      -0.822292   20.0
Wes Benwick         15.857143    3.000000      -1.440149    1.0

# People who actually put themselves out there

In [126]:
## Only grab teammates that posted more than 1 meme
df_filter =  df.groupby('Teammate').filter(lambda x : len(x)>1)

In [127]:
df_filter.drop(['Score_Scale','Eng_Score'],axis=1).groupby('Teammate').mean().sort_values('Overall Score',ascending=False)

                   Jody Score  Engagement  Overall Score  count
Teammate
Michael Haydel      64.327400    9.600000       2.146793    5.0
Josh Lehman         40.750000   12.500000       2.028162    2.0
Ashleigh Dietz      54.999524    8.333333       1.457427    3.0
Simone Henderson    54.941829    7.400000       1.206861    5.0
Chastity Burrell    42.380000    8.000000       0.892138    3.0
Colleen Schwab      47.499911    6.500000       0.686299   16.0
Grace Ann Lile      44.927500    6.500000       0.589152    4.0
Cheyenne McCoy      37.393179    7.000000       0.437681    4.0
Austin Mays         36.425000    6.500000       0.268053    2.0
Erica Sutherland    36.357000    6.500000       0.265485    4.0
Will Gaffney        36.874249    6.028571       0.159558   35.0
Stephen Henderson   28.600526    6.000000      -0.160505   19.0
Darah Pereira       30.750000    5.500000      -0.212394    2.0
Bailey Rhodes       28.224836    5.851852      -0.214119   27.0
Jody Oliverson      23.170000    6.200000      -0.312364   10.0
Robert Graham       34.499500    4.500000      -0.336922    2.0
Kimberly Voltaire   29.304970    4.884615      -0.430737   52.0
Stimone             31.500000    4.500000      -0.450199    2.0
Eric Hyland         26.619077    4.416667      -0.656706   24.0
Jim Walther         20.942500    4.600000      -0.822292   20.0

# Who posts the most memes?

In [108]:
df['Teammate'].mode()

0    Kimberly Voltaire
dtype: object

In [109]:
df['Teammate'].value_counts().head(5)

Kimberly Voltaire    52
Will Gaffney         35
Bailey Rhodes        27
Eric Hyland          24
Jim Walther          20
Name: Teammate, dtype: int64

# Who has the highest average Jody Score per meme?

In [112]:
## Unfiltered view
df.groupby('Teammate').mean()['Jody Score'].sort_values(ascending=False).head(5)

Teammate
Karen Williams     91.710000
Chastity           77.428571
Michael Haydel     64.327400
Wynne Philpott     62.142857
Hawk Swearingen    61.430000
Name: Jody Score, dtype: float64

In [113]:
## People with more than 1 meme
df_filter.groupby('Teammate').mean()['Jody Score'].sort_values(ascending=False).head(5)

Teammate
Michael Haydel      64.327400
Ashleigh Dietz      54.999524
Simone Henderson    54.941829
Colleen Schwab      47.499911
Grace Ann Lile      44.927500
Name: Jody Score, dtype: float64

# Who has the highest average engagement (# combined emojis) per meme?

In [114]:
## Unfiltered view
df.groupby('Teammate').mean()['Engagement'].sort_values(ascending=False).head(5)

Teammate
Karen Williams     21.0
Jeremy Bates       16.0
Wynne Philpott     13.0
Josh Lehman        12.5
Michael Coulter    10.0
Name: Engagement, dtype: float64

In [115]:
## People with more than 1 meme
df_filter.groupby('Teammate').mean()['Engagement'].sort_values(ascending=False).head(5)

Teammate
Josh Lehman         12.500000
Michael Haydel       9.600000
Ashleigh Dietz       8.333333
Chastity Burrell     8.000000
Simone Henderson     7.400000
Name: Engagement, dtype: float64

# What is the highest anyone has ever Jody-scored on a meme?

In [120]:
df[df['Jody Score'] == df['Jody Score'].max()]

        Teammate              Desc  Jody Score  Engagement
35  Will Gaffney  Mony Python work      136.43          18

# Who posted the meme that has the most emoji reactions?

In [90]:
df[df['Engagement'] == df.Engagement.max()]

          Teammate         Desc  Score  Engagement
29  Karen Williams  brady bunch  91.71          21

# Normalization
Scale groups to make combined score.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/Users/wynnephilpott/Documents/Missing Pauldron/Notebooks/Misc Shit/Meme Stats.xlsx')

In [121]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import seaborn as sns

std_scaler = StandardScaler()

df_scaled = std_scaler.fit_transform(df[['Jody Score','Engagement']])
df_scaled = pd.DataFrame(df_scaled, columns=['Score_Scale','Eng_Score'])

In [122]:
df = pd.concat([df,df_scaled],axis=1)

In [123]:
df['Overall Score'] = df['Score_Scale'] + df['Eng_Score']

In [124]:
## Add meme count field
df['count'] = df.groupby('Teammate')['Teammate'].transform('count')